
            *{

                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                scroll-behavior: smooth;
            }
            
            header{
                background-color:rgb(162 119 155/ 79%);
                width: 100%;
                position: fixed;
                z-index: 1000 ;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 3px 200px;
            }
            #aHedear {
                color: #fbf8b9;;
            }
            
            footer{
                width: 100%;
                height: 50px;
                background-color: rgb(162 119 155/ 79%);
                display: flex;
                justify-content: center;
            }
            footer h5{
                margin-top: 1.5em;
                padding-right: .5em;
            }
            
            footer .contactIcons{
                width: 30px;
                height: 50%;
                margin-top: 1em ;
            }
            
            .r.header{
                background-color:rgba(191, 129, 252, 0.785);
                width: 100%;
                position: fixed;
                z-index: 1000 ;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 200px;
            }
            
            
            
            .logo{
                text-decoration: none;
                color: rgb(255, 255, 5);
                text-transform: uppercase;
                font-weight: 700;
                font-size: 1.8em;
            }
            
            
            
            .navagation a{
                color:  rgb(255, 255, 5);
                text-decoration: none;
                font-size: 1.1em;
                font-weight: 400;
                padding-left: 30px;
            }
            
            .navagation a:hover{
                color: blueviolet;
            }
            
            .singIn{
                display: flex;
                justify-content: center;
                background-color:rgb(162 119 155/ 79%);
                width: 15em;
                box-shadow: 0 5px 25px rgba(1 1 1 /50%);
                border-radius: 10px;
                padding: 25px;
                margin: 15px ;
                font-size: 1.3em;
                margin-top: 4em;
            }
            
            .singIn label, input{
                display: block;
                margin: 2px;
                padding: 2px;
            }
            
            
            .divv .form-btn1{
                color: white;
                background-color: blueviolet;
                border: none;
                font-size: 1em;
                font-weight: 300;
                display: inline-block;
                padding: .3em;
                letter-spacing: 1px;
                border-radius: 15px;
                margin-top: 5px;
                margin-left: 5px;
                transition: 0.7s ease;
                display: flex;
                justify-content: center;
                text-decoration: none; 
            }
            
            .divv .form-btn1:hover {
                background-color: rgb(248, 226, 99);
                transform: scale(1.2);
                text-decoration: none;
            } 
            
            .divv a{
                text-decoration: none;
                color: white;
            }
            
            .divv .form-btn11{
                color: white;
                background-color: blueviolet;
                border: none;
                font-size: 1em;
                font-weight: 300;
                display: inline-block;
                padding: .3em;
                letter-spacing: 0px;
                border-radius: 15px;
                margin-top: 2px;
                margin-left: 2px;
                transition: 0.7s ease;
                display: flex;
                justify-content: center;
                text-decoration: none;
                display: inline;
            }
            .divv .form-btn11:hover {
                background-color: rgb(248, 226, 99);
                transform: scale(1.2);
                text-decoration: none;
            } 
            
            .main{
                width: 100%;
                min-height: 100vh;
                display: flex;
                align-items: center;
                background: url(TwinkleLogo.png) no-repeat;
                background-position: right;
                background-size: contain;
                background-attachment: fixed;
                
            }
            
            .main .singIn{
                display: flex;
                justify-content: center;
            }
            
            .main .singInForm h2{
                color: yellow;
                font-size: 1em;
                margin-bottom: 1em;
                text-align: center;
            }
            
            .main .singInForm h2 span{
                color: blueviolet;
                font-size: 1.5em;
            }
            
            
            section{
                padding: 80px 150px;
            }
            
            .main .lable1{
                display: flex;
                justify-content: center;
                align-items: center;
                color: blueviolet;
                font-size: 2.2em;
                font-weight: 800;
                margin-bottom: 30px;
            }
            
            .main h2{
                color:rgb(162 119 155/ 79%);
                font-size: 4em;
                font-weight: 900;
            }
            
            .main h2 span{
                display: inline-block;
                margin-top: 10px;
                color: rgba(191, 129, 252, 0.785);
                font-size: 1.4em;
                font-weight: 700;
            }
            
            main h3{
                color: blueviolet ;
                font-size: 2em;
                font-weight: 400;
                letter-spacing: 1px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            
            .main-btn{
                color: rgb(162 119 155/ 79%);
                background-color: rgb(255, 255, 5);
                text-decoration: none;
                font-size: 1.1em;
                font-weight: 600;
                display: inline-block;
                padding: 0.9375em 2.1875em;
                letter-spacing: 1px;
                border-radius: 15px;
                margin-top: 10px;
                transition: 0.7s ease;
                display: flex;
                justify-content: center;
            }
            
            .main-btn:hover{
                background-color: rgb(255, 230, 0);
                transform: scale(1.1);
            }
            
            .main-btn2 {
                color: white;
                background-color: rgb(162 119 155/ 79%);
                text-decoration: none;
                border: none;
                font-size: 1.1em;
                font-weight: 600;
                display: inline-block;
                padding: 0.9375em 2.1875em;
                letter-spacing: 1px;
                border-radius: 15px;
                margin-top: 10px;
                margin-left: 22px;
                transition: 0.7s ease;
                display: flex;
                justify-content: center;
                text-decoration: none;
            }
            
            .main-btn2:hover {
                background-color: rgb(248, 226, 99);
                transform: scale(1.2);
                text-decoration: none;
            } 
            
            /* manal 
            .title{
                display: flex;
                justify-content: center;
                align-items: center;
                color: blueviolet;
                font-size: 2.2em;
                font-weight: 800;
                margin-bottom: 30px;
            }
            
            .content{
                display: flex;
                justify-content: center;
                flex-direction: row;
                flex-wrap: wrap;
            }
            
            .card{
                background-color:rgb(162 119 155/ 79%);
                width: 20em;
                box-shadow: 0 5px 25px rgba(1 1 1 /50%);
                border-radius: 10px;
                padding: 25px;
                margin: 15px ;
            }
            
            .Aboutus .content .card{
                background-color: white;
            }
            
            .Aboutus .content .card h3{
                color: rgb(162 119 155/ 79%);
            }
            
            .icon img{
                width: 100%;
                height: 40%;
                text-align: center;
                margin-bottom: 10px;
            }
            
            .info{
                text-align: center;
                margin-bottom: 5px;
            }
            
            .info h3{
                color: rgb(255, 255, 5);
                font-size: 1.2em;
                font-weight: 600;
                margin: 10px;
            }
            
            .info strong{
                display: inline-block;
            }
            
            footer{
                width: 100%;
                height: 50px;
                background-color: rgb(162 119 155/ 79%);
                display: flex;
                justify-content: center;
            }
            
            footer h5{
                margin-top: 1.5em;
                padding-right: .5em;
            }
            
            footer .contactIcons{
                width: 30px;
                height: 50%;
                margin-top: 1em ;
            }
            
            
            .registrationForm2 span{
                font-size: smaller;
                color: red;
            }
            
            #Pphoto{
                visibility: hidden;   
            }
            
            .form-btn{
                color: white;
                background-color: blueviolet;
                text-decoration: none;
                border: none;
                font-size: 1em;
                font-weight: 400;
                display: inline-block;
                padding: .7em;
                letter-spacing: 1px;
                border-radius: 15px;
                margin-top: 8px;
                margin-left: 8px;
                transition: 0.7s ease;
                display: flex;
                justify-content: center;
                text-decoration: none;
            }
                
            .form-btn:hover{
                 background-color: rgb(248, 226, 99);
                transform: scale(1.2);
                text-decoration: none;
            }
            
            .cardR{
                background-color:rgba(191, 129, 252, 0.785);
                width: 25em;
                box-shadow: 0 5px 25px rgba(1 1 1 /50%);
                border-radius: 10px;
                padding: 25px;
                margin: 15px ;
            }
            
            .registrationForm2{
                margin: 3em;
                padding: 3em;
                text-align: center;
            }
            
            .registrationForm2 label{
                padding: .5em;
            }
            
            textarea {
              display: flex;
              justify-content: center;
              width: 170px;
              height: 100px;
            }
            
            .map , .form-btn{
                display: flex;
                justify-content: center;
            }
            
            #form-btn1 , #form-btn2{
                display: inline;
            }
            
            #form-btnSub ,#form-btnRes{
                display: inline;
            }
            
            manal */
            
            
            /* START of Ghada */
            .main-btn3 {
                color: white;
                background-color: rgb(162 119 155/ 79%);
                text-decoration: none;
                border: none;
                font-size: 1.1em;
                font-weight: 600;
                display: inline-block;
                padding: 16px 60px;
                letter-spacing: 1px;
                border-radius: 15px;
                margin-top: 10px;
                margin-left: 22px;
                transition: 0.7s ease;
                display: flex;
                justify-content: center;
                text-decoration: none;
            }
            
            .main-btn3:hover {
                background-color: rgb(104, 163, 55);
                transform: scale(1.2);
                text-decoration: none;
            } 
            .main-btnReject {
                color: white;
                background-color: rgb(162 119 155/ 79%);
                text-decoration: none;
                border: none;
                font-size: 1.1em;
                font-weight: 600;
                display: inline-block;
                padding: 16px 64px;
                letter-spacing: 1px;
                border-radius: 15px;
                margin-top: 10px;
                margin-left: 22px;
                transition: 0.7s ease;
                display: flex;
                justify-content: center;
                text-decoration: none;
            }
            
            .main-btnReject:hover {
                background-color: rgb(203, 39, 17);
                transform: scale(1.2);
                text-decoration: none;
            }
            
            .main-btnEdit {
                color: white;
                background-color: rgb(162 119 155/ 79%);
                text-decoration: none;
                border: none;
                font-size: 1.1em;
                font-weight: 600;
                display: inline-block;
                padding: 16px 51px;
                letter-spacing: 1px;
                border-radius: 15px;
                margin-top: 10px;
                margin-left: 22px;
                transition: 0.7s ease;
                display: flex;
                justify-content: center;
                text-decoration: none;
            }
            
            .main-btnEdit:hover {
                background-color: rgb(156, 194, 240);
                transform: scale(1.2);
                text-decoration: none;
            } 
            
            #titleColor{
                color: rgb(84, 56, 110);
                font-size: 50px;
            }
            
            .GoBack{
                display: inline-block;
                text-decoration: none;
                background-color: rgb(162 119 155/ 79%);
                border-radius: 15px;
                width: 200px;
                color: white;
                font-size: 1.1em;
                font-weight: 600;
                padding: 10px 82px;
                letter-spacing: 1px;
                transition: 0.7s ease;
                margin-left: 0px;
                margin-top: 30px;
            }
            .GoBack:hover ,.sendOffer input:hover{
                background-color:  rgb(248, 226, 99);
                transform: scale(1.1);
            }
            
            .cardFormGhada{
                background-color: rgba(165, 146, 183, 0.785);
                width: 25em;
                box-shadow: 0 5px 25px rgba(1 1 1 /50%);
                border-radius: 10px;
                padding: 25px;
                margin: 15px ;
                margin-top:-200px;
                line-height: 200%
            }
            #cancelColor{
                color: rgb(255, 255, 255);
            }
            #TopColor {
                color: rgb(73, 16, 126);
                font-size: x-large;
            }
            /* END of Ghada */
            
            .main-btndel {
                color: white;
                background-color:rgb(162 119 155/ 79%);
                text-decoration: none;
                border: none;
                font-size: 1.1em;
                font-weight: 600;
                display: inline-block;
                padding: 0.9375em 2.4em;
                letter-spacing: 1px;
                border-radius: 15px;
                margin-top: 10px;
                margin-left: 22px;
                transition: 0.7s ease;
                display: flex;
                justify-content: center;
                text-decoration: none;
            }
            
            .main-btndel:hover {
                background-color: rgb(203, 39, 17);
                transform: scale(1.2);
                text-decoration: none;
            }
            
            
            .title{
                display: flex;
                justify-content: center;
                align-items: center;
                color: blueviolet;
                font-size: 2.2em;
                font-weight: 800;
                margin-bottom: 30px;
            }
            
            .content{
                display: flex;
                justify-content: center;
                flex-direction: row;
                flex-wrap: wrap;
            }
            
            .card{
                background-color: rgba(165, 146, 183, 0.785);
                width: 25em;
                box-shadow: 0 5px 25px rgba(1 1 1 /50%);
                border-radius: 10px;
                padding: 25px;
                margin: 15px ;
                line-height: 200%
            }
            /*rana*/
            .cardy { /* yeloowo card*/
                background-color: #fbf8b9;;
                width: 25em;
                box-shadow: 0 5px 25px rgba(1 1 1 /50%);
                border-radius: 10px;
                padding: 25px;
                margin: 15px ;
                line-height: 200%
            }
            
            .lightCard {
                /* background-color: #e1b8e7; */
                background-color: rgba(207, 123, 191, 0.592);
                width: 25em;
                box-shadow: 0 5px 25px rgba(1 1 1 /50%);
                border-radius: 10px;
                padding: 25px;
                margin: 15px ;
                line-height: 200%
            
            }
            
            .greyCard {
                background-color:rgba(149, 84, 137, 0.79);
                width: 25em;
                box-shadow: 0 5px 25px rgba(1 1 1 /50%);
                border-radius: 10px;
                padding: 25px;
                margin: 15px ;
                line-height: 200% ;
                opacity: 0.9;
            }
            
            .whitetcard {
            
                background-color: #efe5f0;;
                color: black;
                width: 25em;
                box-shadow: 0 5px 25px rgba(1 1 1 /50%);
                border-radius: 10px;
                padding: 25px;
                margin: 15px ;
                line-height: 200%
            
            }
            
            .icon img{
                width: 100%;
                height: 40%;
                text-align: center;
                margin-bottom: 10px;
            }
            
            .info{
                text-align: center;
                margin-bottom: 5px;
            }
            
            .info h3{
                color: rgb(255, 255, 5);
                font-size: 1.2em;
                font-weight: 600;
                margin: 10px;
            }
            
            .info strong{
                display: inline-block;
            }
            /*lena begin*/
            
            h2.JRLTitle{
                color: rgb(84, 56, 110);
                font-size: 2.2em;
                font-weight: 800;
                padding: 10% 10% 7% 10%;
                text-align: center;
            }
            .JRsContent{
                margin-left: 380px;
            }
            .req-container{
                margin-bottom: 60px;
                background-color: rgba(165, 146, 183, 0.785);
                width: 40em;
                padding: 23px;
                margin: 12px;
                margin-bottom: 50px;
                border-radius: 10px;
                box-shadow: 0 5px 25px rgb(1 1 1 / 50%);
                text-align: center;
            }
            .req-container .att{
                color: rgb(84, 56, 110);
                font-size: 1.2em;
                font-weight: 600;
            }
            .req-container .pending{
                color: #ffbf00;
                font-size: 1.2em;
                font-weight: 600;
                margin-left: 20px;
            }
            .req-container .accepted{
                color:green;
                font-size: 1.2em;
                font-weight: 600;
                margin-left: 20px;
            }
            .OfferDetailsBut{
                display: inline-block;
                text-decoration: none;
                background-color: rgb(162 119 155/ 79%);
                border-radius: 15px;
                color: white;
                font-size: 1.1em;
                font-weight: 600;
                padding: 10px 82px;
                letter-spacing: 1px;
                transition: 0.7s ease;
                margin-top: 10px;
            }
            .OfferDetailsBut:hover{
                background-color:  rgb(248, 226, 99);
                transform: scale(1.1);
            }
            .req-container p{
                margin-bottom: 10px;
                color: darkslategrey;
                font-size: 1.1em;
            }
            .req-info{
                text-align: center;
                font-size: larger;
            }
            .req-info p{
                margin-bottom: 9px;
                color: darkslategrey
            }
            .req-info a{
                text-decoration: none;
                width: 200px;
                margin: 0 175px;
                border-radius: 15px;
                background-color: rgb(162 119 155/ 79%);
                font-weight: 600;
                color: white;
                font-size: 1.1em;
                padding: 10px 113px;
                letter-spacing: 1px;
                margin-top: 20px;
                transition: 0.7s ease;
                display: flex;
                justify-content: center;
            }
            .req-info a:hover{
                background-color:  rgb(248, 226, 99);
                transform: scale(1.1);
            }
            body{
                background-image: url(bkg2.jpg);
                background-size: cover;
            }
            .detailsBox{
                background-color: rgba(165, 146, 183, 0.785);
                border-radius: 10px;
                margin-left: 300px;
                box-shadow: 0 5px 25px rgba(1 1 1 /50%);
                width: 830px;
                padding: 25px 0;
                margin-bottom: 50px;
            }
            .infoBox{
                margin-left: 70px;
            }
            .detailsBox p {
                margin-bottom: 10px;
            }
            span.value{
                margin-left: 50px;
                color: darkslategrey;
            }
            span.att{
                color: rgb(84, 56, 110);
                font-size: 1.2em;
                font-weight: 600;
            }
            p.reqID{
                color: rgb(84, 56, 110);
                font-size: 1.3em;
                font-weight: 600;
                margin-left:70px;
                margin-bottom: 0;
            }
            form.sendOffer{
                display: inline;
            }
            .sendOffer input{
                background-color: rgb(162 119 155/ 79%);
                border-color: rgb(162 119 155/ 79%);
                border-radius: 15px;
                border-style: none;
                width: 200px;
                color: white;
                font-size: 1.1em;
                font-weight: 600;
                padding: 10px;
                letter-spacing: 1px;
                margin-top: 20px;
                transition: 0.7s ease;
                justify-content: center;
                margin: 30px 0 10px 160px;
                display: inline;
            }
            a.back{
                display: inline-block;
                text-decoration: none;
                background-color: rgb(162 119 155/ 79%);
                border-radius: 15px;
                width: 200px;
                color: white;
                font-size: 1.1em;
                font-weight: 600;
                padding: 10px 82px;
                letter-spacing: 1px;
                transition: 0.7s ease;
                margin-left: 70px;
                margin-top: 10px;
            }
            a.back:hover ,.sendOffer input:hover{
                background-color:  rgb(248, 226, 99);
                transform: scale(1.1);
            }
            .category{
                color: rgb(255, 255, 5);
                font-size: 1.2em;
                font-weight: 600;
                margin: 10px 0 20px 380px;
            }
            .detailsPic{
                width: 190px;
                height: 170px;
                margin-left: 38px;
            }
            /*lena end*/
            
            .center  {  display: flex;
                flex-direction: column;
                justify-content:center;
                align-items: center;
                text-align: left;
                min-height: 100vh;
            }
            
            .Mycenter {
            
                display: flex;
                flex-direction: column;
                justify-content:center;
                align-items: center;
                text-align: left;
                min-height: 5em;
            }
            
            
            .btn-1 {
            
            
                color: white;
                /* background-color: blueviolet; */
                background-color:rgb(162 119 155/ 79%);
                text-decoration: none;
                border: none;
                font-size: 1.1em;
                font-weight: 600;
                display: inline-block;
                padding: 0.9375em 2.1875em;
                letter-spacing: 1px;
                border-radius: 15px;
                margin-top: 10px;
                margin-left: 22px;
                transition: 0.7s ease;
                display: flex;
                justify-content: center;
                text-decoration: none;
                margin-left: 5em;
            
               
              }
              
              .btn-1:hover {
             
            
                background-color: rgb(248, 226, 99);
                transform: scale(1.2);
                text-decoration: none;
               
            
                
              }
            
            
              .btn-2 {
                color: white;
                background-color:rgb(162 119 155/ 79%);
                text-decoration: none;
                border: none;
                font-size: 1.1em;
                font-weight: 600;
                display: inline-block;
                padding: 0.9375em 2.1875em;
                letter-spacing: 1px;
                border-radius: 15px;
                margin-top: 10px;
                margin-left: 22px;
                transition: 0.7s ease;
                display: flex;
                justify-content: center;
                text-decoration: none;
                margin-left: 5em;
              }
              
              .btn-2:hover {
                background-color: rgb(107, 69, 132);
                transform: scale(1.2);
                text-decoration: none;
              }
            
              h1.mytitle {
            
                display: flex;
                justify-content: center;
                align-items: center;
                color: #6d3763;
                font-size: 5em;
                font-weight: bolder;
               position: relative;
               top: 1.1em;
            
            
              }
            
            .mytitle2 {
                display: flex;
                justify-content: center;
                align-items: center;
                color: rgba(103, 58, 95, 0.79);
                font-size: 5em;
                font-weight: bolder;
               position: relative;
               top: 1.1em;
            
            }
            
            .wel.mytitle2{
                display: flex;
                justify-content: center;
                align-items: center;
                color: rgb(196 115 182 / 79%);
                font-size: 5em;
                font-weight: bolder;
               position: relative;
               top: 1.1em;
                
            }
            
            .mytitle3 {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #ffbf0091;
                font-size: 3em;
                font-weight: bolder;
               position: relative;
               padding-top: 5%;
               top: 1.1em;
            
            }
            
            
            .profilepic {
            
                position: relative; /* its refrence is its parent*/
                top: 0px;
                left: 0px ;
                max-width: 40%;
                max-height: 40%;
            }
            
            .picS {
                position: relative; /* its refrence is its parent*/
                top: 50%;
                right: 50% ;
                max-width: 40%;
                max-height: 40%;
            
            }
            
            h5 span { 
            
            color: #ffffff;
            }
            
            
            fieldset {
                border:none ;
            }
            
            input[type="text"] {
                font: 15px/24px "Lato", Arial, sans-serif;
                color: #333;
                width: 100%;
                box-sizing: border-box;
                letter-spacing: 1px;
                border: none;
            }
            
            .makeE {
                background-image: linear-gradient(
                  to right,
                  #fff79b,
                  #fff79b 50%,
                  #ffff 50%
                );
                background-size: 200% 100%;
                background-position: -100%;
                display: inline-block;
                padding: 5px 0;
                position: relative;
                margin-bottom: 2em;
                margin-left: 3.3em;
                font-size: 30px;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                transition: all 0.3s ease-in-out;
              }
              
              .makeE:before {
                content: '';
                background: #fff79b;
                display: block;
                position: absolute;
                bottom: -3px;
                left: 0;
                width: 0;
                height: 3px;
                transition: all 0.3s ease-in-out;
              }
              
              .makeE:hover {
               background-position: 0;
              }
              
              .makeE:hover::before {
                width:100%;
              }
            
            
             img.rkid { 
                max-width: 100px;
                max-height: 100px;
                margin-top: 120px;
                position: relative;
                bottom: 110px;
                left: 10px;
            
            }
            
            p.rev {
                text-align: center;
            }
            
            /* Start Hessah */
            .dropbtn {
                background-color: #04AA6D;
                color: white;
                padding: 16px;
                font-size: 16px;
                border: none;
              }
              
              .dropdown {
                position: relative;
                display: inline-block;
              }
              
              .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f1f1f1;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
              }
              
              .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
              }
              
              .dropdown-content a:hover {background-color: #ddd;}
              
              .dropdown:hover .dropdown-content {display: block;}
              
              .dropdown:hover .dropbtn {background-color: #3e8e41;}
            
              .main-btnReset {
                color: white;
                background-color: rgb(162 119 155/ 79%);
                text-decoration: none;
                border: none;
                font-size: 1.1em;
                font-weight: 600;
                display: inline-block;
                padding: 16px 78px;
                letter-spacing: 1px;
                border-radius: 15px;
                margin-top: 10px;
                margin-left: 65px;
                transition: 0.7s ease;
                display: flex;
                justify-content: center;
                text-decoration: none;
            }
            
            .main-btnReset:hover {
                background-color: rgb(248, 226, 99);
                transform: scale(1.2);
                text-decoration: none;
            } 
            
              /* end Hessah */
              /*--------------------------------------------------------*/
            #pjobs {
                margin-top: 70px;
            }
            
              a {
                text-decoration: none;
              }
            
            
              .main.content.makeR {
            
            position: relative;
            right: -2em;
              }
            
              .main.content.makeL {
            
                position: relative;
                left: 3em;
                  }
            
              .title.main-btn2.do {
                background-color:rgb(162 119 155/ 79%);
                color:rgba(103, 58, 95, 0.79);
              }
            
              .title.main-btn2.do:hover {
                background-color:rgb(255, 231, 112)
              }
            
              section.cont{
                font-size: larger;
              }
            
              .Thetitle{
                color: #6d3763;
                font-size: xx-large;
              }
            
              .card.fixCol {
            
                background-color: rgba(207, 123, 191, 0.592);
                box-sizing: border-box;
                scroll-behavior: smooth;
                padding: 80px 150px;
              }

              .infoCard {
                background-color: rgba(207, 123, 191, 0.592);
    width: 25em;
    box-shadow: 0 5px 25px rgb(1 1 1 / 50%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    line-height: 200%;
              }


                   
            
